<p id="notice"><%= notice %></p>

<p><%= @wish.twitter %> wants to see <strong><%= @wish.film %></strong> with someone.</p>

<hr />
<p>
  Yeah, go on. How about this showing?
  <select>
    <option>Time 1</option>
    <option>Time 2</option>
    <option>Time 3</option>
  </select>
</p>

<textarea placeholder="Anything else you wanna say.."></textarea>

<button type="submit">How's that?</button>