/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
  background-color: #ddf;
  color: #667;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 150%;
  line-height: 2em;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

em {
  color: #334;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px dotted #667;
  color: #667;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 100%;
  width: 200px;
  &:focus {
    background: #fffddd;
  }
}

button {
  background: #00aa00;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 100%;
  color: #fff;
  border: none;
  padding: 5px 20px;
  text-shadow: 1px 1px 1px #333;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: #009900;
  }
}

pre {
  background-color: #eee;
  padding: 10px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    list-style: square;
  }
}

