/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
  background-color: #E9E8E3;
  color: #667;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 150%;
  line-height: 2em;
  margin: 0;
}

.wrapper {
  padding: 15px;
}

header {
  background: #2F4356;
  font-family: "Futura", helvetica, verdana, arial, sans-serif;
  color: #eee;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 120%;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
  border-bottom: 3px solid #2B3339;
  strong {
    color: #fff;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

em {
  color: #334;
}

input {
  border: 1px solid #B8B8B8;
  color: #667;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 100%;
  width: 200px;
  border-radius: 5px;
  &:focus {
    background: #fffddd;
  }
}

.url strong {
  padding: 5px 20px;
  background: #fff;
}

textarea {
  width: 99%;
  border: 1px solid #B8B8B8;
  color: #667;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 80%;
  border-radius: 5px;
  &:focus {
    background: #fffddd;
  }
}

select {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 100%;
  width: 200px;
}

button {
  background: #E8473F;
  background: -moz-linear-gradient(top, #E8473F 0, #E64F45 100%);
  background: -webkit-linear-gradient(top, #E8473F 0, #E64F45 100%);
  background: linear-gradient(top, #E8473F 0, #E64F45 100%);
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 70%;
  color: #fff;
  border: 1px solid #960A0B;
  padding: 5px 20px;
  text-shadow: 1px 1px 1px #333;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: darken(#E8473F,10%);
  }
}

pre {
  background-color: #eee;
  padding: 10px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    list-style: square;
  }
}

